{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
	class="form password">

	<h3>{% trans %}change_password.page_title{% endtrans %}</h3>

	{% if form.vars.errors|length %}
		<div class="alert alert-error">
			{{ form_errors(form) }}
		</div>
	{% endif %}
	{% for flashMessage in app.session.flashbag.get('success') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
	{% endfor %}
	{{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block"
        	value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
